@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/ 
}

.room {
	width: 100vw;
	height: 100vh;
}

.remote-participant {
	flex-wrap: none;
	justify-content: space-between;
}

.local-participant {
	position: absolute;
	top: 10vh;
	right: 5vw;
	height: 300px;
	width: 250px;
}

.participant {
	background: #333e5a;
	display: inline-block;
	margin-right: 10px;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 600px;
	border-radius: 5px;
	margin: 0 auto;
	display: block;
}
