.side-bar {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 100vh;
	position: fixed;
	background-color: #fff;
	border-right: 1px solid #f4f8fb;
	width: 20vw;
	border-radius: 15px;
}

.logo{
	position: absolute;
	bottom: 5vh;
	left: 5px;
}

.logo img {
	height: auto;
	width: 80px;
}

.vector {
	display: flex;
	/*position: relative;*/
	border-bottom: 2px solid #f4f8fb;
}

.vector img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.vector p {
	font-size: 20px;
	line-height: 40px;
	margin-left: 10px;
}

.dashboard-navs .head-title {
	margin-left: 20%;
}

.dashboard-navs img{
	height: 20px;
	width: 20px;
	margin-right: 6px;
}

.dashboard-navs a {
	color: #0f0f0f;
	/*display: block;*/
	margin-left: 20%;
	padding: 5px 20px;
	/*border-bottom: 2px solid #f4f8fb;*/
	transition: .3s ease-in;
}

.dashboard-navs a:hover {
	text-decoration: none;
	background-color: #f4f8fb;
	border-radius: 15px 15px;
}


/*Panel styles */
.notifications {
	position: relative;
	top: 0;
	margin-left: 80%;
}

.notifications img {
	height: 20px;
	width: 20px;
	margin: 3px 10px 0 10px;
}


/*Panel styles*/
.provider-grid{
	margin-left: 20vw;
}

.panel-wrapper, .builder-wrapper, .noti-wrapper, .update-wrapper {
	margin-left: 20vw;
	width: 80vw;
	height: 100%;
}

.panel-wrapper div.box-1,
.panel-wrapper div.box-2 {
	height: 30vh;
	width: 35vw;
	background-color: #f4f8fb;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

.box-1 img,
.box-2 img {
	height: 80%;
	margin: 5% 0 5% 5%;
}

.box-1 span,
.box-2 span {
	color: #949cb7;
	padding: 5px 20px;
	margin-left: 20%;
	background-color: #fefefe;
	border-radius: 10px;
}

.waitroom-wrapper {
	width: 80vw;
	height: 100%;
	position: fixed;
}

div.wait-box {
	height: 20vh;
	width: 15vw;
	border: 1px solid #f4f8fb;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
	background-color: #f4f8fb;
}

div.wait-box span {
	border-radius: 50%;
	background-color: #000;
	height: 100px;
	width: 100px;
	margin: 8vh 0 0 7vw;
}

/* ProvderBoard */
/*.provider-grid {
	display: inline-flex;
}*/


/*@media (max-width: 768px) {
	.dashboard-navs a p {
		display: none;
	}
}*/